<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../../vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
            <directory suffix="Test.php">./tests/Models</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </coverage>
    <logging>
        <testdoxHtml outputFile="out/code-coverage/testdox.html"/>
    </logging>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="MAIL_MAILER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="TELESCOPE_ENABLED" value="(false)"/>


        <env name="DB_HOST" value="database" />
        <env name="DB_PORT" value="3306" />
        <env name="DB_DATABASE" value="cashflow_local_testing" />
        <env name="DB_USERNAME" value="root" />
        <env name="DB_PASSWORD" value="app" />

        <env name="REDIS_CLIENT" value="predis" />
        <env name="REDIS_HOST" value="cache" />
        <env name="REDIS_PASSWORD" value="" />
        <env name="REDIS_PORT" value="6379" />
        <env name="REDIS_USERNAME" value="" />
        <env name="REDIS_CACHE_DB" value="" />


        <env name="COMPANIES_URL" value="https://pkgstore.datahub.io/core/nasdaq-listings/nasdaq-listed_json/data/a5bc7580d6176d60ac0b2142ca8d7df6/nasdaq-listed_json.json" />
        <env name="RAPID_API_URL" value='https://yh-finance.p.rapidapi.com/stock/v3/get-historical-data' />
        <env name="RAPID_KEY" value="84e0f04218msh00e3309df7ebad0p1b7f85jsn5a3a282b9454" />
        <env name="RAPID_HOST" value="yh-finance.p.rapidapi.com" />

    </php>
</phpunit>
